@import '../../index.css';

.chat_page{
    padding:0% 2%;
    display:flex;
}

.chat_list_content{
    display:flex;
    flex-direction: column;
    border-right: 1px solid var(--white);
    height:85vh;
    padding-right: 2%;
}

.chat_list_header{
    margin-top: 20px;
    margin-bottom: 20px;
    color:var(--white)
}

.chat_list{
    margin-top: 10%;
    background-color: var(--serenity);
}

.chat_list:first-child{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.chat_name{
    /* background-color: var(--serenity); */
    align-self: c;
}

