*{
    margin: 0;
    padding: 0;
    font-family: 'Urbanist';
}
nav{
    background-color: #F88379;
    width: 100%;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-logo-container{
    width: 150px;
    height: 3rem;
    margin-left: 2%;
}
.nav-logo-container h1{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
}
.nav-links-container{
    width: 50%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.nav-links-container a{
    font-style: normal;
    font-weight: 500;
    font-size: 100%;
    line-height: 48px;
    text-decoration: none;
}
.nav-links-container a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 480px) {
    nav{
        width: 100%;
        min-height: 50px;;
    }
    .nav-logo-container{
        width: 150px;
        height: 3rem;
        margin-top: 2%;
    }
    .nav-links-container{
        display: none;
    }
  }