.footer-section{
    background-color: var(--coral);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-section-links{
    width: 70%;
    height: 70%;
}
ul{
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
li{
    font-size: 20px;
}
.footer-action{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 2%;
}
.footer-action p{
    font-size: 20px;
    margin-right: 2%;
}
a{
    text-decoration: none;
    color: var(--black);
}
a:hover{
    text-decoration: underline;
    color: var(--white);
}

@media screen and (max-width: 480px) {
    .footer-section{
        background-color: var(--coral);
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: start;
    }
    .footer-section-links{
        width: 70%;
        height: 70%;
    }
    ul{
        padding-top: 2%;
        padding-bottom: 2%;
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: space-between;
    }
    li{
        margin-top: 5%;
        font-size: 20px;
    }
    .footer-action{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 10%;
    }
}