.btn{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--charcoal);
    color: var(--white);
}
.btn:hover{
    background-color: var(--serenity);
    color: var(--charcoal);
}