button{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #4C5D70;
    color: white;
}
button:hover{
    background-color: #D0E6F0;
    color: black;
}