:root {
  --charcoal: #4C5D70;
  --white: #ffffff;
  --serenity: #D0E6F0;
  --black: #000000;
  --coral: #F88379;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Urbanist';
}

body{
  margin:0;
  background-color:var(--charcoal);
  
}
/* .container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
} */
.cm-s-material.CodeMirror {
  background-color: var(--charcoal) !important;
  border-bottom-left-radius: 10px ;
  border-bottom-right-radius: 10px ;
  min-height: 500px;
}
.top_pane{
  background-color: var(--serenity);
}


.container_code_editor{
  width: 80%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  gap:10px;
}
.pane{
  flex-grow: 1;
  flex-basis: 0;
  border:2px solid var(--serenity);
  border-radius: 10px;
}
.iframe_pane{
  flex-grow: 1;
  background-color: var(--serenity);
  border:none;
}

.cm-s-material .CodeMirror-gutters {
  /*background: #F88379 !important ;*/
  color: var(--white);
  border: none;
  border-bottom-left-radius: 10px !important;
}
.cm-s-material .CodeMirror-guttermarker, .cm-s-material .CodeMirror-guttermarker-subtle, .cm-s-material .CodeMirror-linenumber {
  color: var(--white) !important;
}
.editor_title{
  padding: 1%;
  color:var(--serenity);
}

.output_title {
  padding: 1%;
  color:var(--serenity);
  background-color: var(--charcoal);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.code_editor_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button.compile_btn {
  border: 1px solid var(--coral);
  margin-top: 5%;
}

.output_value {
  padding: 1%;
}

img.logo {
  max-width: 70px;
}

.save_btn {
  margin-bottom: 2%;
}

.profile_container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--coral);
  border-radius: 10px;
  padding: 2%;
  margin-top: 5%;
  gap:20px;
  margin-bottom: 10%;
  transition: 0.5s;
}

.profile_textarea {
  width: 50%;
  border-radius: 10px;
  padding: 1%;
  font-size: 1.2em;
  background-color: var(--serenity);
}

.profile_textarea:focus-visible{
  border: 1px solid var(--coral);
  outline: none;
}

input:focus-visible {
  border: 1px solid var(--coral);
  outline: none;
}

.profile_submit_btn {
  background-color: var(--coral);
}

img.user_image {
  height: 300px;
  border-radius: 50%;
  width: 300px;
  box-shadow: 0px 0px 20px var(--black);
  transition: 0.5s;
  background-color:var(--serenity);
}

.update_info{
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--coral);
    gap: 20px;
    transition: 0.5s;}

h2.profile_title {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 2em;
    transition: 0.5s;
}

.message {
    font-size: 1.2em;
    color: var(--coral);
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    border-radius: 10px;
    transition: 0.5s;
}

p.profile_bio {
  margin-top: 1%;
  font-size: 2em;
  transition: 0.5s;
}

input[type="file"] {
  margin-top: 2%;
  padding: 10px;
  border: 1px solid var(--coral);
  border-radius: 10px;
  background-color: var(--charcoal);
  color: var(--white);
}

@media (max-width:768px){
  .container_code_editor {
    width: 80%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}
.profile_container{
  width: 100%;
}
.search-header {
  flex-direction: column;
}
form.filter_section {
  width: 100%;
}
input.search_input {
  width: 100%;
}
}
