.main-header-home{
    background-color: var(--coral);
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-header-title{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    max-height: 50%;
}

.main-header-title h1{
    font-size: 6vw;
}

.btn-div{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    max-height: 50%;
}

@media screen and (max-width: 480px) {
    .main-header-home{
        height: 70vh;
    }
    .main-header-title{
        width: 90%;
        font-size: 40px;
    }
  }