.container_code_download{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 3px solid var(--serenity);
    border-radius: 10px;
    padding-bottom: 10px;

}

.container_code_title{
    width: 100%;
    background-color: var(--serenity);
    color: var(--charcoal);
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 50px;
}

.container_code_content{
    color: var(--serenity) ;
}