@import 'index.css';
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.user-container{
display:flex;
   background-color: var(--serenity);
   width:75vw;
   justify-content:space-between;
   padding: 2%;
}

.user-container:first-child{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.user-container:last-child{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.border:not(:last-child){
    border-bottom :solid 1px var(--charcoal)
}

.table-container{
    display:flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 10px;
  
}

.admin-content{
    padding:3%;
}

.list{
    color:var(--serenity)
}

.btn-user{
    background-color: var(--coral) !important;
    color:var(--white)
}

.user{
    align-self: center;
    width:30%
}