.btn_download{
    margin-top: 15%;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--coral);
    color: var(--white);
}
.btn_download:hover{
    background-color: var(--coral);;
}