.search-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1%;
    margin-bottom: 5%;
}

h1.search-title {
    margin-bottom: 0;
}

form.filter_section {
    gap: 20px;
    align-items: baseline;
}
form{
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input{
    width: 20rem;
    height: 3rem;
    border: 1px solid var(--black);
    color: var(--white);
    font-size: 15px;
}
button{
    width: 8rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
/* .fetch-users{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.fetch {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}
.user_card{
    background-color: var(--serenity);
    width: 20%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
    gap: 20px;
}
.user_card h1{
    font-size: 2vw;
    color: var(--charcoal);
    margin-bottom: 0;
    text-transform: capitalize;
}

.user-profile-img{
    border: 1px solid var(--black);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 0;
}

.user-actions {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.clear-btn{
    background-color: var(--coral);
    color: var(--white);
    font-weight: 500;
}
.clear-btn:hover{
    background-color: var(--serenity);
    color: var(--charcoal);
}

textarea.message_area {
    width: 100%;
    border-radius: 10px;
    padding: 2%;
}

.single_message_box {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

button.btn.send_single_message {
    background-color: var(--coral);
}