.container_flex_code{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.footer-section{
    position: absolute;
    bottom: 0;
    width: 100%;

}